.filesContainer{
    width: 20%;
    margin-left: 5px;
}

.addfiles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.59em;
}

.fileList {
    background-color: rgb(184, 184, 184);
}

.fileComp{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.filebtn{
    border: none;
}
.filebtn:hover{
    cursor: pointer;
}